:root {
    /* --background-color: #424342; */
    --background-color: #292929;
    --text-color: #ECE4B7;
    --other-color: #DA7D58;
    --alt-color: #0D87BF;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}

h1,h2, h3, figcaption {
    color: var(--other-color);
    font-family: 'Audiowide', sans-serif;
    font-weight: 300;
    text-align: center;
    padding: .5rem;
}

main {
    margin: 0 auto;
    max-width: 1300px;
}

header, footer {
    border: 2px solid var(--other-color);
    text-align: center;
}

nav li {
    list-style: none;
    display: flex;
    flex-direction: row;
}

nav a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
    color: var(--text2);
    font-family: 'Roboto', sans-serif;
    font-weight: 550;
    font-size: larger;
    transition: 0.25s;
}

nav a:hover {
    color: var(--alt-color);
}

#menu {
    display: block;
    font-size: 1.5rem;
    background: none;
    color: var(--text2);
	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.show::before {
	content: "X";
}

.navigation {
    list-style: none;
}

.navigation li {
    display: none;
}

.navigation.show li {
    display: block;
}

section {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 25px;
    padding: 20px;
}

section div {
    border: 1px solid var(--other-color);
    max-width: 350px;
    cursor: pointer;
    padding: 1rem;
}

section div:hover {
    border-color: var(--alt-color);
}

h3 {
    max-height: 3rem;
    padding: .5rem;
}

img {
    width: 8%;
    display: inline-block;
    margin: 0 auto;
}

.gog {
    background-color: white;
}


@media (min-width: 700px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav ul {
        justify-content: flex-end;
        flex-direction: row;
        gap: 40px;
    }

    .navigation {
        display: flex;
        flex-direction: row;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
    }
    
    .navigation li {
        display: block;
    }

    #menu {
        display: none;
    }

    section {
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
        justify-content: center;
        margin: 0 auto;
        max-width: 1000px;
    }
}