:root {
    --background-color: #424342;
    --text-color: #ECE4B7;
    --other-color: #D36135;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}

h1,h2, figcaption {
    color: var(--other-color);
    font-family: 'Audiowide', sans-serif;
    font-weight: 300;
}

figure img {
    width: 100%;
    max-width: 600px;
}

div {
    display: block;
    margin: 0 auto;
    max-width: 1000px;
    padding: .5rem;
}

header, footer {
    border: 2px solid var(--other-color);
    text-align: center;
}