:root {
    --primary-color: #6CACE4;
    --secondary-color: #FFB81C;
    --background-color: #FFFFFF;
    --alt-color: #7D4016; 
}

header,
footer {
    background-color: var(--primary-color);
    color: var(--alt-color);
    text-align: center;
    padding: 1em 0;
}

main {
    position: relative;
}

.hero {
    position: relative;
    width: 100%;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

.weather, .data {
    position: absolute;
    width: 30%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: var(--background-color);
    border-collapse: collapse;
}

.data {
    left: 10%;
    top: 20%;
}

.weather {
    right: 10%;
    top: 40%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
}

@media (max-width: 500px) {
    .data, .weather {
        position: static;
        width: 100%;
        margin: 10px 0;
    }

    .hero {
        display: block;
    }

    .hero img {
        width: 100%;
    }
}